.list {
    &__container {
        width: 100%;
        padding: 40px;
        transition: 250ms;

        &--light {
            color: black;
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
        }

        &--dark {
            color: white;
            background-color: black;
        }
    }
}