.actions {
    &__container {
        width: 100%;
        transition: 250ms;
        gap: 10px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;

        &--light {
            color: black;
            background-color: white;
        }

        &--dark {
            color: white;
            background-color: black;
        }
    }
}